### Import Required Libraries and Set Up Environment Variables

In [4]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import os
import pandas as pd
import json
import os
from datetime import datetime
## Load the NASA_API_KEY from the env file
load_dotenv()
NASA_API_KEY = os.getenv('NASA_API_KEY')

### CME Data

In [5]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/"

# Set the specifier for CMEs:
CME = "CME"

# Search for CMEs published between a begin and end date
startDate = "2013-05-01"
endDate   = "2024-05-01"

# Build URL for CME
cme_url = base_url + CME + "?startDate=" + startDate + "&endDate=" + endDate + "&api_key=" + NASA_API_KEY
print(cme_url)

https://api.nasa.gov/DONKI/CME?startDate=2013-05-01&endDate=2024-05-01&api_key=TDaNLcfNeKlIkd6P2ulNKKmIB7uRBn9jaQbQaQsp

In [6]:
# Make a "GET" request for the CME URL and store it in a variable named cme_response
cme_response = requests.get(cme_url)

In [7]:
# Convert the response variable to json and store it as a variable named cme_json
cme_json = cme_response.json()

In [8]:
# Preview the first result in JSON format
# Use json.dumps with argument indent=4 to format data
first_result = cme_json[0]
print(first_result)

first_result_formatted = json.dumps(first_result,indent=4)
print(first_result_formatted)
print(first_result.keys())

{'activityID': '2013-05-01T03:12:00-CME-001', 'catalog': 'M2M_CATALOG', 'startTime': '2013-05-01T03:12Z', 'instruments': [{'displayName': 'SOHO: LASCO/C2'}, {'displayName': 'SOHO: LASCO/C3'}, {'displayName': 'STEREO A: SECCHI/COR2'}, {'displayName': 'STEREO B: SECCHI/COR2'}], 'sourceLocation': '', 'activeRegionNum': None, 'note': '', 'submissionTime': '2013-08-07T16:54Z', 'versionId': 1, 'link': 'https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CME/2349/-1', 'cmeAnalyses': [{'isMostAccurate': True, 'time21_5': '2013-05-01T07:07Z', 'latitude': 12.0, 'longitude': -120.0, 'halfAngle': 36.0, 'speed': 860.0, 'type': 'C', 'featureCode': 'null', 'imageType': None, 'measurementTechnique': 'null', 'note': '', 'levelOfData': 0, 'tilt': None, 'minorHalfWidth': None, 'speedMeasuredAtHeight': None, 'submissionTime': '2013-08-07T16:54Z', 'link': 'https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CMEAnalysis/2350/-1', 'enlilList': [{'modelCompletionTime': '2013-05-01T08:32Z', 'au': 2.0, 'estimatedShockArrivalTime': None, 'estimatedDuration': None, 'rmin_re': None, 'kp_18': None, 'kp_90': None, 'kp_135': None, 'kp_180': None, 'isEarthGB': False, 'link': 'https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/WSA-ENLIL/2348/-1', 'impactList': [{'isGlancingBlow': False, 'location': 'STEREO B', 'arrivalTime': '2013-05-04T06:16Z'}], 'cmeIDs': ['2013-05-01T03:12:00-CME-001']}]}], 'linkedEvents': [{'activityID': '2013-05-04T04:52:00-IPS-001'}]}
{
    "activityID": "2013-05-01T03:12:00-CME-001",
    "catalog": "M2M_CATALOG",
    "startTime": "2013-05-01T03:12Z",
    "instruments": [
        {
            "displayName": "SOHO: LASCO/C2"
        },
        {
            "displayName": "SOHO: LASCO/C3"
        },
        {
            "displayName": "STEREO A: SECCHI/COR2"
        },
        {
            "displayName": "STEREO B: SECCHI/COR2"
        }
    ],
    "sourceLocation": "",
    "activeRegionNum": null,
    "note": "",
    "submissionTime": "2013-08-07T16:54Z",
    "versionId": 1,
    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CME/2349/-1",
    "cmeAnalyses": [
        {
            "isMostAccurate": true,
            "time21_5": "2013-05-01T07:07Z",
            "latitude": 12.0,
            "longitude": -120.0,
            "halfAngle": 36.0,
            "speed": 860.0,
            "type": "C",
            "featureCode": "null",
            "imageType": null,
            "measurementTechnique": "null",
            "note": "",
            "levelOfData": 0,
            "tilt": null,
            "minorHalfWidth": null,
            "speedMeasuredAtHeight": null,
            "submissionTime": "2013-08-07T16:54Z",
            "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/CMEAnalysis/2350/-1",
            "enlilList": [
                {
                    "modelCompletionTime": "2013-05-01T08:32Z",
                    "au": 2.0,
                    "estimatedShockArrivalTime": null,
                    "estimatedDuration": null,
                    "rmin_re": null,
                    "kp_18": null,
                    "kp_90": null,
                    "kp_135": null,
                    "kp_180": null,
                    "isEarthGB": false,
                    "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/WSA-ENLIL/2348/-1",
                    "impactList": [
                        {
                            "isGlancingBlow": false,
                            "location": "STEREO B",
                            "arrivalTime": "2013-05-04T06:16Z"
                        }
                    ],
                    "cmeIDs": [
                        "2013-05-01T03:12:00-CME-001"
                    ]
                }
            ]
        }
    ],
    "linkedEvents": [
        {
            "activityID": "2013-05-04T04:52:00-IPS-001"
        }
    ]
}
dict_keys(['activityID', 'catalog', 'startTime', 'instruments', 'sourceLocation', 'activeRegionNum', 'note', 'submissionTime', 'versionId', 'link', 'cmeAnalyses', 'linkedEvents'])

In [40]:
# Convert cme_json to a Pandas DataFrame 
cme_df = pd.DataFrame(cme_json)

# Keep only the columns: activityID, startTime, linkedEvents
cme_df_filtered = cme_df[['activityID', 'startTime', 'linkedEvents']]

print(cme_df_filtered)

                       activityID          startTime  \
0     2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z
1     2013-05-02T05:24:00-CME-001  2013-05-02T05:24Z
2     2013-05-02T14:36:00-CME-001  2013-05-02T14:36Z
3     2013-05-03T18:00:00-CME-001  2013-05-03T18:00Z
4     2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z
...                           ...                ...
5519  2024-05-01T06:36:00-CME-001  2024-05-01T06:36Z
5520  2024-05-01T11:36:00-CME-001  2024-05-01T11:36Z
5521  2024-05-01T12:36:00-CME-001  2024-05-01T12:36Z
5522  2024-05-01T17:36:00-CME-001  2024-05-01T17:36Z
5523  2024-05-01T23:16:00-CME-001  2024-05-01T23:16Z

                                         linkedEvents
0     [{'activityID': '2013-05-04T04:52:00-IPS-001'}]
1                                                None
2                                                None
3                                                None
4     [{'activityID': '2013-05-07T04:37:00-IPS-001'}]
...                                               ...
5519                                             None
5520                                             None
5521                                             None
5522                                             None
5523  [{'activityID': '2024-05-01T22:26:00-FLR-001'}]

[5524 rows x 3 columns]

In [10]:
# Notice that the linkedEvents column allows us to identify the corresponding GST
# Remove rows with missing 'linkedEvents' since we won't be able to assign these to GSTs
cme_df_filtered = cme_df_filtered.dropna(subset=['linkedEvents'])
print(cme_df_filtered)

                       activityID          startTime  \
0     2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z
4     2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z
7     2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z
10    2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z
13    2013-05-13T16:18:00-CME-001  2013-05-13T16:18Z
...                           ...                ...
5496  2024-04-24T01:48:00-CME-001  2024-04-24T01:48Z
5499  2024-04-24T15:05:00-CME-001  2024-04-24T15:05Z
5504  2024-04-25T18:24:00-CME-001  2024-04-25T18:24Z
5516  2024-04-30T00:36:00-CME-001  2024-04-30T00:36Z
5523  2024-05-01T23:16:00-CME-001  2024-05-01T23:16Z

                                           linkedEvents
0       [{'activityID': '2013-05-04T04:52:00-IPS-001'}]
4       [{'activityID': '2013-05-07T04:37:00-IPS-001'}]
7       [{'activityID': '2013-05-12T23:30:00-IPS-001'}]
10    [{'activityID': '2013-05-13T01:53:00-FLR-001'}...
13    [{'activityID': '2013-05-13T15:40:00-FLR-001'}...
...                                                 ...
5496    [{'activityID': '2024-04-26T00:17:00-IPS-001'}]
5499    [{'activityID': '2024-04-24T14:02:00-FLR-001'}]
5504    [{'activityID': '2024-04-25T17:03:00-FLR-001'}]
5516    [{'activityID': '2024-04-30T00:46:00-FLR-001'}]
5523    [{'activityID': '2024-05-01T22:26:00-FLR-001'}]

[1023 rows x 3 columns]

In [11]:
# Notice that the linkedEvents sometimes contains multiple events per row
# Write a nested for loop that iterates first over each row in the cme DataFrame (using the index)
# and then iterates over the values in 'linkedEvents' 
# and adds the elements individually to a list of dictionaries where each row is one element 

# Initialize an empty list to store the expanded rows
expanded_rows = []

# Iterate over each index in the DataFrame
for i in cme_df_filtered.index:
    activityid = cme_df_filtered.loc[i,'activityID']
    starttime = cme_df_filtered.loc[i,'startTime']
    linkedevents = cme_df_filtered.loc[i,'linkedEvents']

    # Iterate over each dictionary in the list
        # Append a new dictionary to the expanded_rows list for each dictionary item and corresponding 'activityID' and 'startTime' value
    for i in linkedevents:
        expanded_rows.append({
            'activityID': activityid,
            'startTime': starttime,
            'linkedEvents': linkedevents
        })

# Create a new DataFrame from the expanded rows
expanded_rows_df = pd.DataFrame(expanded_rows)

print(expanded_rows_df)

                       activityID          startTime  \
0     2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z
1     2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z
2     2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z
3     2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z
4     2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z
...                           ...                ...
1709  2024-04-24T01:48:00-CME-001  2024-04-24T01:48Z
1710  2024-04-24T15:05:00-CME-001  2024-04-24T15:05Z
1711  2024-04-25T18:24:00-CME-001  2024-04-25T18:24Z
1712  2024-04-30T00:36:00-CME-001  2024-04-30T00:36Z
1713  2024-05-01T23:16:00-CME-001  2024-05-01T23:16Z

                                           linkedEvents
0       [{'activityID': '2013-05-04T04:52:00-IPS-001'}]
1       [{'activityID': '2013-05-07T04:37:00-IPS-001'}]
2       [{'activityID': '2013-05-12T23:30:00-IPS-001'}]
3     [{'activityID': '2013-05-13T01:53:00-FLR-001'}...
4     [{'activityID': '2013-05-13T01:53:00-FLR-001'}...
...                                                 ...
1709    [{'activityID': '2024-04-26T00:17:00-IPS-001'}]
1710    [{'activityID': '2024-04-24T14:02:00-FLR-001'}]
1711    [{'activityID': '2024-04-25T17:03:00-FLR-001'}]
1712    [{'activityID': '2024-04-30T00:46:00-FLR-001'}]
1713    [{'activityID': '2024-05-01T22:26:00-FLR-001'}]

[1714 rows x 3 columns]

In [12]:
# Create a function called extract_activityID_from_dict that takes a dict as input such as in linkedEvents
# and verify below that it works as expected using one row from linkedEvents as an example
# Be sure to use a try and except block to handle errors

# Log the error or print it for debugging

def extract_activityID_from_dict(input_dict):
    try:
        return input_dict['activityID']
    except(ValueError, TypeError, KeyError) as error:
        print(f"Error:{error}")

In [13]:
# Apply this function to each row in the 'linkedEvents' column (you can use apply() and a lambda function)
# and create a new column called 'GST_ActivityID' using loc indexer:

cme_df_filtered['GST_ActivityID'] = cme_df_filtered['linkedEvents'].apply(
    lambda events: extract_activityID_from_dict(events[0]) if isinstance(events,list) else None
)

In [14]:
# Remove rows with missing GST_ActivityID, since we can't assign them to GSTs:
cme_df_filtered = cme_df_filtered.dropna(subset=['GST_ActivityID'])

cme_df_filtered_gst = cme_df_filtered[['activityID', 'startTime', 'linkedEvents', 'GST_ActivityID']]
print(cme_df_filtered_gst)

                       activityID          startTime  \
0     2013-05-01T03:12:00-CME-001  2013-05-01T03:12Z
4     2013-05-03T22:36:00-CME-001  2013-05-03T22:36Z
7     2013-05-09T19:29:00-CME-001  2013-05-09T19:29Z
10    2013-05-13T02:54:00-CME-001  2013-05-13T02:54Z
13    2013-05-13T16:18:00-CME-001  2013-05-13T16:18Z
...                           ...                ...
5496  2024-04-24T01:48:00-CME-001  2024-04-24T01:48Z
5499  2024-04-24T15:05:00-CME-001  2024-04-24T15:05Z
5504  2024-04-25T18:24:00-CME-001  2024-04-25T18:24Z
5516  2024-04-30T00:36:00-CME-001  2024-04-30T00:36Z
5523  2024-05-01T23:16:00-CME-001  2024-05-01T23:16Z

                                           linkedEvents  \
0       [{'activityID': '2013-05-04T04:52:00-IPS-001'}]
4       [{'activityID': '2013-05-07T04:37:00-IPS-001'}]
7       [{'activityID': '2013-05-12T23:30:00-IPS-001'}]
10    [{'activityID': '2013-05-13T01:53:00-FLR-001'}...
13    [{'activityID': '2013-05-13T15:40:00-FLR-001'}...
...                                                 ...
5496    [{'activityID': '2024-04-26T00:17:00-IPS-001'}]
5499    [{'activityID': '2024-04-24T14:02:00-FLR-001'}]
5504    [{'activityID': '2024-04-25T17:03:00-FLR-001'}]
5516    [{'activityID': '2024-04-30T00:46:00-FLR-001'}]
5523    [{'activityID': '2024-05-01T22:26:00-FLR-001'}]

                   GST_ActivityID
0     2013-05-04T04:52:00-IPS-001
4     2013-05-07T04:37:00-IPS-001
7     2013-05-12T23:30:00-IPS-001
10    2013-05-13T01:53:00-FLR-001
13    2013-05-13T15:40:00-FLR-001
...                           ...
5496  2024-04-26T00:17:00-IPS-001
5499  2024-04-24T14:02:00-FLR-001
5504  2024-04-25T17:03:00-FLR-001
5516  2024-04-30T00:46:00-FLR-001
5523  2024-05-01T22:26:00-FLR-001

[1023 rows x 4 columns]

In [15]:
# print out the datatype of each column in this DataFrame:
print(cme_df_filtered_gst.dtypes)

activityID        object
startTime         object
linkedEvents      object
GST_ActivityID    object
dtype: object

In [16]:
# Convert the 'GST_ActivityID' column to string format 
cme_df_filtered_gst['GST_ActivityID'] = cme_df_filtered_gst['GST_ActivityID'].astype(str)
# print(cme_df_filtered_gst.dtypes)

# Convert startTime to datetime format  
cme_df_filtered_gst['startTime'] = pd.to_datetime(cme_df_filtered_gst['startTime'])
# print(cme_df_filtered_gst.dtypes)

# Rename startTime to startTime_CME and activityID to cmeID
cme_df_filtered_gst = cme_df_filtered_gst.rename(columns={
    'startTime': 'startTime_CME',
    'activityID': 'cmeID'
})
# print(cme_df_filtered_gst)

# Drop linkedEvents
cme_df_filtered_gst_noevents = cme_df_filtered_gst.drop(columns=['linkedEvents'])

# Verify that all steps were executed correctly
print(cme_df_filtered_gst_noevents)

                            cmeID             startTime_CME  \
0     2013-05-01T03:12:00-CME-001 2013-05-01 03:12:00+00:00
4     2013-05-03T22:36:00-CME-001 2013-05-03 22:36:00+00:00
7     2013-05-09T19:29:00-CME-001 2013-05-09 19:29:00+00:00
10    2013-05-13T02:54:00-CME-001 2013-05-13 02:54:00+00:00
13    2013-05-13T16:18:00-CME-001 2013-05-13 16:18:00+00:00
...                           ...                       ...
5496  2024-04-24T01:48:00-CME-001 2024-04-24 01:48:00+00:00
5499  2024-04-24T15:05:00-CME-001 2024-04-24 15:05:00+00:00
5504  2024-04-25T18:24:00-CME-001 2024-04-25 18:24:00+00:00
5516  2024-04-30T00:36:00-CME-001 2024-04-30 00:36:00+00:00
5523  2024-05-01T23:16:00-CME-001 2024-05-01 23:16:00+00:00

                   GST_ActivityID
0     2013-05-04T04:52:00-IPS-001
4     2013-05-07T04:37:00-IPS-001
7     2013-05-12T23:30:00-IPS-001
10    2013-05-13T01:53:00-FLR-001
13    2013-05-13T15:40:00-FLR-001
...                           ...
5496  2024-04-26T00:17:00-IPS-001
5499  2024-04-24T14:02:00-FLR-001
5504  2024-04-25T17:03:00-FLR-001
5516  2024-04-30T00:46:00-FLR-001
5523  2024-05-01T22:26:00-FLR-001

[1023 rows x 3 columns]

In [86]:
# We are only interested in CMEs related to GSTs so keep only rows where the GST_ActivityID column contains 'GST'
# use the method 'contains()' from the str library.  
cme_df_filtered_gst_noevents = cme_df_filtered_gst_noevents[cme_df_filtered_gst_noevents['GST_ActivityID'].str.contains('GST', na=False)]
print(cme_df_filtered_gst_noevents)

                            cmeID             startTime_CME  \
26    2013-06-02T20:24:00-CME-001 2013-06-02 20:24:00+00:00
1358  2015-09-04T14:12:00-CME-001 2015-09-04 14:12:00+00:00
1359  2015-09-04T19:24:00-CME-001 2015-09-04 19:24:00+00:00
1361  2015-09-06T23:30:00-CME-001 2015-09-06 23:30:00+00:00
1362  2015-09-07T10:36:00-CME-001 2015-09-07 10:36:00+00:00
5365  2024-03-23T01:48:00-CME-001 2024-03-23 01:48:00+00:00

                   GST_ActivityID
26    2013-06-07T03:00:00-GST-001
1358  2015-09-09T03:00:00-GST-001
1359  2015-09-09T03:00:00-GST-001
1361  2015-09-11T06:00:00-GST-001
1362  2015-09-11T06:00:00-GST-001
5365  2024-03-24T12:00:00-GST-001

cmeID             6
startTime_CME     6
GST_ActivityID    6
dtype: int64

### GST Data

In [33]:
# Set the base URL to NASA's DONKI API:
base_url = "https://api.nasa.gov/DONKI/"

# Set the specifier for Geomagnetic Storms (GST):
GST = "GST"

# Search for GSTs between a begin and end date
startDateGST = "2013-05-01"
endDateGST   = "2024-05-01"

# Build URL for GST
# Build URL for CME
gst_url = base_url + GST + "?startDate=" + startDateGST + "&endDate=" + endDateGST + "&api_key=" + NASA_API_KEY
print(gst_url)

https://api.nasa.gov/DONKI/GST?startDate=2013-05-01&endDate=2024-05-01&api_key=TDaNLcfNeKlIkd6P2ulNKKmIB7uRBn9jaQbQaQsp

In [50]:
# Make a "GET" request for the GST URL and store it in a variable named gst_response
gst_response = requests.get(gst_url)

In [57]:
# Convert the response variable to json and store it as a variable named gst_json
gst_json = gst_response.json()

# Preview the first result in JSON format
# Use json.dumps with argument indent=4 to format data
first_result_gst = gst_json[0]
print(first_result_gst)


first_result_gst_formatted = json.dumps(first_result_gst,indent=4)
print(first_result_gst_formatted)
# print(first_result_gst.keys())

{'gstID': '2013-06-01T01:00:00-GST-001', 'startTime': '2013-06-01T01:00Z', 'allKpIndex': [{'observedTime': '2013-06-01T01:00Z', 'kpIndex': 6.0, 'source': 'NOAA'}], 'link': 'https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/GST/326/-1', 'linkedEvents': [{'activityID': '2013-05-31T15:45:00-HSS-001'}], 'submissionTime': '2013-07-15T19:26Z', 'versionId': 1}

In [71]:
# Convert gst_json to a Pandas DataFrame  
gst_df = pd.DataFrame(gst_json)

# Keep only the columns: activityID, startTime, linkedEvents
columns = ['activityID', 'startTime', 'linkedEvents', 'gstID']
existing_columns = [col for col in columns if col in gst_df.columns]
#activityID is not a column, have to keep gstID for combining later

gst_df_filtered = gst_df[existing_columns]

print(gst_df_filtered.head())
# print(gst_df_filtered)

           startTime                                       linkedEvents  \
0  2013-06-01T01:00Z    [{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1  2013-06-07T03:00Z    [{'activityID': '2013-06-02T20:24:00-CME-001'}]
2  2013-06-29T03:00Z                                               None
3  2013-10-02T03:00Z  [{'activityID': '2013-09-29T22:40:00-CME-001'}...
4  2013-12-08T00:00Z  [{'activityID': '2013-12-04T23:12:00-CME-001'}...

                         gstID
0  2013-06-01T01:00:00-GST-001
1  2013-06-07T03:00:00-GST-001
2  2013-06-29T03:00:00-GST-001
3  2013-10-02T03:00:00-GST-001
4  2013-12-08T00:00:00-GST-001

In [72]:
# Notice that the linkedEvents column allows us to identify the corresponding CME
# Remove rows with missing 'linkedEvents' since we won't be able to assign these to CME
gst_df_filtered = gst_df_filtered.dropna(subset=['linkedEvents'])
print(gst_df_filtered)

             startTime                                       linkedEvents  \
0    2013-06-01T01:00Z    [{'activityID': '2013-05-31T15:45:00-HSS-001'}]
1    2013-06-07T03:00Z    [{'activityID': '2013-06-02T20:24:00-CME-001'}]
3    2013-10-02T03:00Z  [{'activityID': '2013-09-29T22:40:00-CME-001'}...
4    2013-12-08T00:00Z  [{'activityID': '2013-12-04T23:12:00-CME-001'}...
5    2014-02-19T03:00Z  [{'activityID': '2014-02-16T14:15:00-CME-001'}...
..                 ...                                                ...
112  2023-12-18T06:00Z  [{'activityID': '2023-12-14T17:38:00-CME-001'}...
113  2024-03-03T18:00Z  [{'activityID': '2024-02-28T17:48:00-CME-001'}...
114  2024-03-23T21:00Z  [{'activityID': '2024-03-23T12:49:00-IPS-001'}...
115  2024-03-24T12:00Z  [{'activityID': '2024-03-23T01:25:00-CME-001'}...
116  2024-04-19T18:00Z  [{'activityID': '2024-04-15T06:48:00-CME-001'}...

                           gstID
0    2013-06-01T01:00:00-GST-001
1    2013-06-07T03:00:00-GST-001
3    2013-10-02T03:00:00-GST-001
4    2013-12-08T00:00:00-GST-001
5    2014-02-19T03:00:00-GST-001
..                           ...
112  2023-12-18T06:00:00-GST-001
113  2024-03-03T18:00:00-GST-001
114  2024-03-23T21:00:00-GST-001
115  2024-03-24T12:00:00-GST-001
116  2024-04-19T18:00:00-GST-001

[105 rows x 3 columns]

In [75]:
# Notice that the linkedEvents sometimes contains multiple events per row
# Use the explode method to ensure that each row is one element. Ensure to reset the index and drop missing values.
gst_df_filtered_explode = gst_df_filtered.explode('linkedEvents')

gst_df_filtered_explode = gst_df_filtered_explode.reset_index(drop=True)

gst_df_filtered_explode = gst_df_filtered_explode.dropna(subset='linkedEvents')

print(gst_df_filtered_explode)

             startTime                                   linkedEvents  \
0    2013-06-01T01:00Z  {'activityID': '2013-05-31T15:45:00-HSS-001'}
1    2013-06-07T03:00Z  {'activityID': '2013-06-02T20:24:00-CME-001'}
2    2013-10-02T03:00Z  {'activityID': '2013-09-29T22:40:00-CME-001'}
3    2013-10-02T03:00Z  {'activityID': '2013-10-02T01:54:00-IPS-001'}
4    2013-10-02T03:00Z  {'activityID': '2013-10-02T02:47:00-MPC-001'}
..                 ...                                            ...
200  2024-03-24T12:00Z  {'activityID': '2024-03-23T01:48:00-CME-001'}
201  2024-03-24T12:00Z  {'activityID': '2024-03-24T14:10:00-IPS-001'}
202  2024-03-24T12:00Z  {'activityID': '2024-03-24T16:25:00-MPC-001'}
203  2024-04-19T18:00Z  {'activityID': '2024-04-15T06:48:00-CME-001'}
204  2024-04-19T18:00Z  {'activityID': '2024-04-19T04:53:00-IPS-001'}

                           gstID
0    2013-06-01T01:00:00-GST-001
1    2013-06-07T03:00:00-GST-001
2    2013-10-02T03:00:00-GST-001
3    2013-10-02T03:00:00-GST-001
4    2013-10-02T03:00:00-GST-001
..                           ...
200  2024-03-24T12:00:00-GST-001
201  2024-03-24T12:00:00-GST-001
202  2024-03-24T12:00:00-GST-001
203  2024-04-19T18:00:00-GST-001
204  2024-04-19T18:00:00-GST-001

[205 rows x 3 columns]

In [76]:
# Apply the extract_activityID_from_dict function to each row in the 'linkedEvents' column (you can use apply() and a lambda function)
# and create a new column called 'CME_ActivityID' using loc indexer:
def extract_activityID_from_dict_gst(linked_event):
    try:
        return linked_event.get('activityID') if isinstance(linked_event, dict) else None
    except(ValueError, TypeError) as error:
        print(f"Error extracting activityId: {error}")
        return None 
    
gst_df_filtered_explode['CME_ActivityID'] = gst_df_filtered_explode['linkedEvents'].apply(lambda x: extract_activityID_from_dict_gst(x))
    
# Remove rows with missing CME_ActivityID, since we can't assign them to CMEs:
gst_df_filtered_explode = gst_df_filtered_explode.dropna(subset='CME_ActivityID')
print(gst_df_filtered_explode[['CME_ActivityID','linkedEvents','gstID']])

                  CME_ActivityID  \
0    2013-05-31T15:45:00-HSS-001
1    2013-06-02T20:24:00-CME-001
2    2013-09-29T22:40:00-CME-001
3    2013-10-02T01:54:00-IPS-001
4    2013-10-02T02:47:00-MPC-001
..                           ...
200  2024-03-23T01:48:00-CME-001
201  2024-03-24T14:10:00-IPS-001
202  2024-03-24T16:25:00-MPC-001
203  2024-04-15T06:48:00-CME-001
204  2024-04-19T04:53:00-IPS-001

                                      linkedEvents  \
0    {'activityID': '2013-05-31T15:45:00-HSS-001'}
1    {'activityID': '2013-06-02T20:24:00-CME-001'}
2    {'activityID': '2013-09-29T22:40:00-CME-001'}
3    {'activityID': '2013-10-02T01:54:00-IPS-001'}
4    {'activityID': '2013-10-02T02:47:00-MPC-001'}
..                                             ...
200  {'activityID': '2024-03-23T01:48:00-CME-001'}
201  {'activityID': '2024-03-24T14:10:00-IPS-001'}
202  {'activityID': '2024-03-24T16:25:00-MPC-001'}
203  {'activityID': '2024-04-15T06:48:00-CME-001'}
204  {'activityID': '2024-04-19T04:53:00-IPS-001'}

                           gstID
0    2013-06-01T01:00:00-GST-001
1    2013-06-07T03:00:00-GST-001
2    2013-10-02T03:00:00-GST-001
3    2013-10-02T03:00:00-GST-001
4    2013-10-02T03:00:00-GST-001
..                           ...
200  2024-03-24T12:00:00-GST-001
201  2024-03-24T12:00:00-GST-001
202  2024-03-24T12:00:00-GST-001
203  2024-04-19T18:00:00-GST-001
204  2024-04-19T18:00:00-GST-001

[205 rows x 3 columns]

In [77]:
# Convert the 'CME_ActivityID' column to string format 
gst_df_filtered_explode['CME_ActivityID'] = gst_df_filtered_explode['CME_ActivityID'].astype(str)
# print(gst_df_filtered_explode.dtypes)

# Convert the 'gstID' column to string format 
gst_df_filtered_explode['gstID'] = gst_df_filtered_explode['gstID'].astype(str)
#We already got rid of this column

# Convert startTime to datetime format  
gst_df_filtered_explode['startTime'] = pd.to_datetime(gst_df_filtered_explode['startTime'])

# Rename startTime to startTime_GST 
gst_df_filtered_explode = gst_df_filtered_explode.rename(columns={
    'startTime': 'startTime_GST'
})

# Drop linkedEvents
gst_df_filtered_explode_drop = gst_df_filtered_explode.drop(columns=['linkedEvents'])

# Verify that all steps were executed correctly
print(gst_df_filtered_explode_drop)

                startTime_GST                        gstID  \
0   2013-06-01 01:00:00+00:00  2013-06-01T01:00:00-GST-001
1   2013-06-07 03:00:00+00:00  2013-06-07T03:00:00-GST-001
2   2013-10-02 03:00:00+00:00  2013-10-02T03:00:00-GST-001
3   2013-10-02 03:00:00+00:00  2013-10-02T03:00:00-GST-001
4   2013-10-02 03:00:00+00:00  2013-10-02T03:00:00-GST-001
..                        ...                          ...
200 2024-03-24 12:00:00+00:00  2024-03-24T12:00:00-GST-001
201 2024-03-24 12:00:00+00:00  2024-03-24T12:00:00-GST-001
202 2024-03-24 12:00:00+00:00  2024-03-24T12:00:00-GST-001
203 2024-04-19 18:00:00+00:00  2024-04-19T18:00:00-GST-001
204 2024-04-19 18:00:00+00:00  2024-04-19T18:00:00-GST-001

                  CME_ActivityID
0    2013-05-31T15:45:00-HSS-001
1    2013-06-02T20:24:00-CME-001
2    2013-09-29T22:40:00-CME-001
3    2013-10-02T01:54:00-IPS-001
4    2013-10-02T02:47:00-MPC-001
..                           ...
200  2024-03-23T01:48:00-CME-001
201  2024-03-24T14:10:00-IPS-001
202  2024-03-24T16:25:00-MPC-001
203  2024-04-15T06:48:00-CME-001
204  2024-04-19T04:53:00-IPS-001

[205 rows x 3 columns]

In [78]:
# We are only interested in GSTs related to CMEs so keep only rows where the CME_ActivityID column contains 'CME'
# use the method 'contains()' from the str library.  
gst_df_filtered_cme = gst_df_filtered_explode[gst_df_filtered_explode['CME_ActivityID'].str.contains('CME',na=False)]

print(gst_df_filtered_cme[['CME_ActivityID', 'linkedEvents', 'gstID']])

                  CME_ActivityID  \
1    2013-06-02T20:24:00-CME-001
2    2013-09-29T22:40:00-CME-001
5    2013-12-04T23:12:00-CME-001
7    2014-02-16T14:15:00-CME-001
9    2014-02-18T01:25:00-CME-001
..                           ...
192  2023-12-14T17:38:00-CME-001
195  2024-02-28T17:48:00-CME-001
199  2024-03-23T01:25:00-CME-001
200  2024-03-23T01:48:00-CME-001
203  2024-04-15T06:48:00-CME-001

                                      linkedEvents  \
1    {'activityID': '2013-06-02T20:24:00-CME-001'}
2    {'activityID': '2013-09-29T22:40:00-CME-001'}
5    {'activityID': '2013-12-04T23:12:00-CME-001'}
7    {'activityID': '2014-02-16T14:15:00-CME-001'}
9    {'activityID': '2014-02-18T01:25:00-CME-001'}
..                                             ...
192  {'activityID': '2023-12-14T17:38:00-CME-001'}
195  {'activityID': '2024-02-28T17:48:00-CME-001'}
199  {'activityID': '2024-03-23T01:25:00-CME-001'}
200  {'activityID': '2024-03-23T01:48:00-CME-001'}
203  {'activityID': '2024-04-15T06:48:00-CME-001'}

                           gstID
1    2013-06-07T03:00:00-GST-001
2    2013-10-02T03:00:00-GST-001
5    2013-12-08T00:00:00-GST-001
7    2014-02-19T03:00:00-GST-001
9    2014-02-20T03:00:00-GST-001
..                           ...
192  2023-12-18T06:00:00-GST-001
195  2024-03-03T18:00:00-GST-001
199  2024-03-24T12:00:00-GST-001
200  2024-03-24T12:00:00-GST-001
203  2024-04-19T18:00:00-GST-001

[61 rows x 3 columns]

### Merge both datatsets

In [79]:
# Now merge both datasets using 'gstID' and 'CME_ActivityID' for gst and 'GST_ActivityID' and 'cmeID' for cme. Use the 'left_on' and 'right_on' specifiers.
cme_gst_df = pd.merge(
    gst_df_filtered_cme,
    cme_df_filtered_gst_noevents,
    left_on = ['gstID', 'CME_ActivityID'],
    right_on=['GST_ActivityID', 'cmeID'],
    how= 'left'
)

print(cme_gst_df)

               startTime_GST                                   linkedEvents  \
0  2013-06-07 03:00:00+00:00  {'activityID': '2013-06-02T20:24:00-CME-001'}
1  2013-10-02 03:00:00+00:00  {'activityID': '2013-09-29T22:40:00-CME-001'}
2  2013-12-08 00:00:00+00:00  {'activityID': '2013-12-04T23:12:00-CME-001'}
3  2014-02-19 03:00:00+00:00  {'activityID': '2014-02-16T14:15:00-CME-001'}
4  2014-02-20 03:00:00+00:00  {'activityID': '2014-02-18T01:25:00-CME-001'}
..                       ...                                            ...
56 2023-12-18 06:00:00+00:00  {'activityID': '2023-12-14T17:38:00-CME-001'}
57 2024-03-03 18:00:00+00:00  {'activityID': '2024-02-28T17:48:00-CME-001'}
58 2024-03-24 12:00:00+00:00  {'activityID': '2024-03-23T01:25:00-CME-001'}
59 2024-03-24 12:00:00+00:00  {'activityID': '2024-03-23T01:48:00-CME-001'}
60 2024-04-19 18:00:00+00:00  {'activityID': '2024-04-15T06:48:00-CME-001'}

                          gstID               CME_ActivityID  \
0   2013-06-07T03:00:00-GST-001  2013-06-02T20:24:00-CME-001
1   2013-10-02T03:00:00-GST-001  2013-09-29T22:40:00-CME-001
2   2013-12-08T00:00:00-GST-001  2013-12-04T23:12:00-CME-001
3   2014-02-19T03:00:00-GST-001  2014-02-16T14:15:00-CME-001
4   2014-02-20T03:00:00-GST-001  2014-02-18T01:25:00-CME-001
..                          ...                          ...
56  2023-12-18T06:00:00-GST-001  2023-12-14T17:38:00-CME-001
57  2024-03-03T18:00:00-GST-001  2024-02-28T17:48:00-CME-001
58  2024-03-24T12:00:00-GST-001  2024-03-23T01:25:00-CME-001
59  2024-03-24T12:00:00-GST-001  2024-03-23T01:48:00-CME-001
60  2024-04-19T18:00:00-GST-001  2024-04-15T06:48:00-CME-001

                          cmeID             startTime_CME  \
0   2013-06-02T20:24:00-CME-001 2013-06-02 20:24:00+00:00
1                           NaN                       NaT
2                           NaN                       NaT
3                           NaN                       NaT
4                           NaN                       NaT
..                          ...                       ...
56                          NaN                       NaT
57                          NaN                       NaT
58                          NaN                       NaT
59  2024-03-23T01:48:00-CME-001 2024-03-23 01:48:00+00:00
60                          NaN                       NaT

                 GST_ActivityID
0   2013-06-07T03:00:00-GST-001
1                           NaN
2                           NaN
3                           NaN
4                           NaN
..                          ...
56                          NaN
57                          NaN
58                          NaN
59  2024-03-24T12:00:00-GST-001
60                          NaN

[61 rows x 7 columns]

In [88]:
# Verify that the new DataFrame has the same number of rows as cme and gst

print(len(gst_df_filtered_cme))
print(len(cme_df_filtered_gst_noevents))
print(len(cme_gst_df))

61
6
61

### Computing the time it takes for a CME to cause a GST

In [90]:
# Compute the time diff between startTime_GST and startTime_CME by creating a new column called `timeDiff`.
cme_gst_df['startTime_GST'] = pd.to_datetime(cme_gst_df['startTime_GST'])
cme_gst_df['startTime_CME'] = pd.to_datetime(cme_gst_df['startTime_CME'])
cme_gst_df['timeDiff'] = cme_gst_df['startTime_CME'] - cme_gst_df['startTime_GST']

print(cme_gst_df)

               startTime_GST                                   linkedEvents  \
0  2013-06-07 03:00:00+00:00  {'activityID': '2013-06-02T20:24:00-CME-001'}
1  2013-10-02 03:00:00+00:00  {'activityID': '2013-09-29T22:40:00-CME-001'}
2  2013-12-08 00:00:00+00:00  {'activityID': '2013-12-04T23:12:00-CME-001'}
3  2014-02-19 03:00:00+00:00  {'activityID': '2014-02-16T14:15:00-CME-001'}
4  2014-02-20 03:00:00+00:00  {'activityID': '2014-02-18T01:25:00-CME-001'}
..                       ...                                            ...
56 2023-12-18 06:00:00+00:00  {'activityID': '2023-12-14T17:38:00-CME-001'}
57 2024-03-03 18:00:00+00:00  {'activityID': '2024-02-28T17:48:00-CME-001'}
58 2024-03-24 12:00:00+00:00  {'activityID': '2024-03-23T01:25:00-CME-001'}
59 2024-03-24 12:00:00+00:00  {'activityID': '2024-03-23T01:48:00-CME-001'}
60 2024-04-19 18:00:00+00:00  {'activityID': '2024-04-15T06:48:00-CME-001'}

                          gstID               CME_ActivityID  \
0   2013-06-07T03:00:00-GST-001  2013-06-02T20:24:00-CME-001
1   2013-10-02T03:00:00-GST-001  2013-09-29T22:40:00-CME-001
2   2013-12-08T00:00:00-GST-001  2013-12-04T23:12:00-CME-001
3   2014-02-19T03:00:00-GST-001  2014-02-16T14:15:00-CME-001
4   2014-02-20T03:00:00-GST-001  2014-02-18T01:25:00-CME-001
..                          ...                          ...
56  2023-12-18T06:00:00-GST-001  2023-12-14T17:38:00-CME-001
57  2024-03-03T18:00:00-GST-001  2024-02-28T17:48:00-CME-001
58  2024-03-24T12:00:00-GST-001  2024-03-23T01:25:00-CME-001
59  2024-03-24T12:00:00-GST-001  2024-03-23T01:48:00-CME-001
60  2024-04-19T18:00:00-GST-001  2024-04-15T06:48:00-CME-001

                          cmeID             startTime_CME  \
0   2013-06-02T20:24:00-CME-001 2013-06-02 20:24:00+00:00
1                           NaN                       NaT
2                           NaN                       NaT
3                           NaN                       NaT
4                           NaN                       NaT
..                          ...                       ...
56                          NaN                       NaT
57                          NaN                       NaT
58                          NaN                       NaT
59  2024-03-23T01:48:00-CME-001 2024-03-23 01:48:00+00:00
60                          NaN                       NaT

                 GST_ActivityID          timeDiff
0   2013-06-07T03:00:00-GST-001 -5 days +17:24:00
1                           NaN               NaT
2                           NaN               NaT
3                           NaN               NaT
4                           NaN               NaT
..                          ...               ...
56                          NaN               NaT
57                          NaN               NaT
58                          NaN               NaT
59  2024-03-24T12:00:00-GST-001 -2 days +13:48:00
60                          NaN               NaT

[61 rows x 8 columns]

In [94]:
# Use describe() to compute the mean and median time 
# that it takes for a CME to cause a GST. 

cme_gst_df['timeDiff'].describe()

count                            6
mean             -4 days +05:29:00
std      1 days 04:10:07.703849362
min              -5 days +11:12:00
25%              -5 days +16:39:00
50%              -5 days +17:27:00
75%              -4 days +01:49:30
max              -2 days +13:48:00
Name: timeDiff, dtype: object

### Exporting data in csv format

In [95]:
# Export data to CSV without the index
cme_gst_df.to_csv('merged.csv', index=False)